[Unit]
Description=Shadowsocks Client Service
After=network.target

[Service]
Type=simple
User=nobody
ExecStart=/usr/bin/ss-local -c /etc/shadowsocks-libev/%i.json -u -A

[Install]
WantedBy=multi-user.target
