[Unit]
Description=Shadowsocks-libev local
Afer=network.target

[Service]
Type=forking
PIDFile=/run/ss-local.pid
ExecStart=/usr/bin/ss-local -c /etc/shadowsocks-libev.json -f /run/ss-local.pid
ExecStopPost=/usr/bin/rm -f /run/ss-local.pid

[Install]
WantedBy=multi-user.target
